@using QLBH.Models;
@{
    Layout = null;
}
<form action="suaLHH" method="post">
    <div class="form-horizontal">
        <h2>Sửa thông tin loại hàng hóa</h2>
        @{
            loaihanghoa l = ViewBag.lhh;
        }
        <div class="form-group">
            @*name trùng với tên field được binding*@
            <input name="maloai" type="hidden" value="@l.maloai" maxlength="50" /><br />
        </div>
        <div class="form-group">
            <b>Tên loại hàng</b><br />
            <input name="tenloai" type="text" value="@l.tenloai" maxlength="50" /><br />
        </div>
        <br />
        <div class="form-group">
            <input type="submit" value="Lưu" />
        </div>
        <br />
        <div>
            <a href="@Url.Action("IndexLHH")">Quay lại</a>
        </div>
    </div>
</form>
