
@{
    Layout = null;
}

<form action="themKH" method="post">
    <div class="form-horizontal">
        <h2>Thêm khách hàng</h2>
        <div class="form-group">
            @*name trùng với tên field được binding*@
            <b>Mã khách hàng</b><br />
            <input name="makh" type="text" value="" maxlength="10" /><br /><br />
        </div>
        <div class="form-group">
            <b>Tên khách hàng</b><br />
            <input name="tenkh" type="text" value="" maxlength="50" /><br /><br />
        </div>
        <div class="form-group">
            <b>Năm sinh</b><br />
            <input name="namsinh" type="number" value="" maxlength="4"/><br /><br />
        </div>
        <div class="form-group">
            <b>Phái</b><br />
            <input name="phai" type="radio" value="true" checked />Nam
            <input name="phai" type="radio" value="false" />Nữ
        </div>
        <div class="form-group">
            <b>Điện thoại</b><br />
            <input name="dienthoai" type="text" value="" maxlength="12" />
        </div>
        <div class="form-group">
            <b>Địa chỉ</b><br />
            <input name="diachi" type="text" value="" maxlength="50" /><br /><br />
        </div>
        <div class="form-group">
            <b>Password</b><br />
            <input name="password" type="text" value="" maxlength="50" /><br /><br />
        </div>
        <div class="form-group">
            <input type="submit" value="Save" /><br /><br />
        </div>
        <div>
            <a href="@Url.Action("IndexKH")">Quay lại</a>
        </div>
    </div>
</form>